* {
    overflow: hidden;
    font-family: verdana;
}

.scenes_inputbox {
    position: absolute;
}

.scenes_text {
    color: white;
    position: absolute;
    font-size: 1.25vh;
}

.scenes_inputfield {
    width: 18.2vw;

    border: none;
    outline: none;
    background: none;

    color: white;
    border-radius: 0;
    border-bottom: 0.1vh solid white;
}

#scenes_container {
    width: 23vw;
    height: 39vh;

    right: 38%;
    bottom: 35%;

    display: none;
    user-select: none;
    position: absolute;

    border-radius: 0.5vh;
    background-color: rgba(0, 0, 0, 0.78);
    border: 0.2vh solid rgba(252, 0, 0, 0.45);
}

#scenes_createbutton:hover {
    transition: .2s ease-in-out;
    background-color: rgb(18, 218, 0);
}

#scenes_createbutton {
    width: 5vw;
    height: 4.3vh;
    font-size: 2.1vh;

    bottom: 7%;
    right: 41.3%;
    position: absolute;

    border: none;
    color: white;
    border-radius: 0.5vh;
    background-color: rgba(13, 153, 0, 0.78);
}

.scenes_dropdown {
    resize: none;
    border: none;
	outline: none;
    color: white;

    width: 8.5vw;
    font-family: verdana;
    background-color: rgba(0, 0, 0, 0);
    border: 0.2vh solid rgba(252, 0, 0, 0.45);
}

.dropdown_option {
    color: black;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: darkgrey;
}
